body {
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Bon Vivant;
}

.font-bon-vivant {
  font-family: Bon Vivant;
}
.hero {
  font-size: 7rem;

  font-family: Bon Vivant;
  font-style: normal;
  font-weight: light;
  line-height: 105%;
  
  text-transform: uppercase;
  color: #201D25;
}
.text-black {
  color: #201D25;
}
.text-black:hover {
  color: #201D25;
  text-decoration: none;
}

.line {
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-right: 1em;
  background-color: #201D25;
  vertical-align: super;
}

.filter-container {
  border-bottom: 1px solid #201D25;
}

.arrow {
  display: inline-block;
  border-top: 2px solid #201D25;
  box-sizing: border-box;
  transform: rotate(-45deg);
  height: 0.7em;
  width: 0.7em;
  border-left: 2px solid #201D25;
}

.sidebar-border {
  border: 2px solid #201D25;
}
.bg-dark {
  background-color: #201D25;
  color: white;
}


/* tool page */

.tool-image {
  margin-top: 5em;
  margin-bottom: 5em;
}
.tool-title {
  font-size: 132.08px;
  font-family: Bon Vivant;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  text-transform: uppercase;
  color: #201D25;
  margin-bottom: 1em;
}

.contain {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}