---
layout: layouts/base.njk
title: Lean Value Tree
---

<div class="container">
  <lottie-player src="/animations/hero.json" class="hero mt-24" background="transparent"  speed="1"  autoplay></lottie-player>

  <div class="xl:flex my-8 mb-36">
    <div class="flex-1"></div>
    <div class="flex-1"></div>
    <div class="flex-1">
      Come designer, sviluppatori e strategist abbiamo infinite possibilità per migliorare la vita dei nostri clienti grazie al digitale. Ma come essere sicuri che la funzionalità che abbiamo in mente è quella giusta per il nostro pubblico? Come esplorare diverse soluzioni prima di scegliere quella da implementare?
      <br>
      <br>
      Grazie al catalogo Secret Validation Society scoprirai come partire con il piede giusto mettendo al centro il valore per l’utente per creare  servizi realmente utili e apprezzati.
    </div>
  </div>
  
  <div class="pt-10 py-5 workshop-header">
    <h5 class="my-0 text-center">Workshop</h5>
    <!-- <b>Tutti</b>
    <span class="ml-3">Feasability</span>
    <span class="ml-3">Viability</span>
    <span class="ml-3">Desirability</span> -->
  </div>

  <div class="pt-5">
{%- for tool in tools -%}
{% if loop.index0 % 2 == 0 %}
<div class="xl:flex lg:border lg:border-black lg:border-l-0 lg:border-r-0">
{% endif %}
<a class="block w-full lg:w-1/2 text-black link-container" href="/tools{{tool.url}}">
  <div class="{% if loop.index0 % 2 == 0 %} lg:mr-2 {% else %} lg:ml-2{% endif %}">
    <lottie-player src="/animations/{{tool.normalized}}.json" class="border border-black lg:border-t-0 border-b-0" background="transparent"  speed="1"  loop autoplay></lottie-player>
    <div class="border border-black py-12 px-12 lg:border-b-0 min-height-tool-description">
      <h4 class="link mt-1 mb-0"> {{tool['Nome tool']}}</h4>
      <p class="text-base my-0 py-8">{{tool['Anteprima']}}</p>
      <p class="text-base my-0 uppercase">
        <svg class="inline" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C6 3.31371 3.31371 6 0 6C3.31371 6 6 8.68629 6 12C6 8.68629 8.68629 6 12 6C8.68629 6 6 3.31371 6 0Z" fill="#201D25"/>
        </svg>
        <span class="px-6">{{tool['Fase']}}</span>
        <svg class="inline" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C6 3.31371 3.31371 6 0 6C3.31371 6 6 8.68629 6 12C6 8.68629 8.68629 6 12 6C8.68629 6 6 3.31371 6 0Z" fill="#201D25"/>
        </svg>
      </p>
    </div>
  </div>
</a>
{% if loop.index0 % 2 == 0 %}
<div class="block lg:hidden lg:border-0 border border-black border-t-0 {% if not loop.last %} border-b-0 {% endif %} h-8">
</div>
{% endif %}
{% if loop.index0 % 2 != 0 %}
</div>
<div class="border border-black border-t-0 {% if not loop.last %} border-b-0 {% endif %} h-8">
</div>
{% endif %}
{%- endfor -%}
  </div>
</div>
