---
layout: layouts/base.njk
pagination:
  data: tools
  size: 1
  alias: tool
permalink: tools/{{ tool.url }}
---


<div class="mx-auto container max-w-5xl lg:px-12 px-6">
  <lottie-player src="/animations/workshop-header-{{tool.normalized}}.json" class="mb-10 tool-title" background="transparent"  speed="1" autoplay></lottie-player>

  <div class="flex">
    <div class="lg:mr-4">
      <div class="lg:w-3/4">
        <lottie-player src="/animations/{{tool.normalized}}.json" class="mt-10 mb-20 border border-black" background="transparent"  speed="1"  loop autoplay></lottie-player>
        {{ tool['Descrizione di massima'] | safe }}
        {% usefulness tool %}
        {% todo tool %}
      </div>
    </div>
    <div class="lg:block hidden mt-5" style="width: 60rem;">
      {% info tool %}
      {% properties tool %}
    </div>
  </div>
</div>

<div class="mx-auto container lg:px-12 px-6 max-w-5xl lg:hidden block mt-16 pt-16 pb-16 border-black border-0 border-t">
  {% info tool %}
  {% properties tool %}
</div>


<div class="appendix mt-16 container max-w-5xl mx-auto">
  {% appendix tool %}
</div>

<div class="help-container mx-auto w-full text-center py-40">
  <svg class="mx-auto" width="81" height="24" viewBox="0 0 81 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.5 0C40.5 6.62742 34.9036 12 28 12C34.9036 12 40.5 17.3726 40.5 24C40.5 17.3726 46.0964 12 53 12C46.0964 12 40.5 6.62742 40.5 0Z" fill="#201D25"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M73 4C73 8.41828 69.4183 12 65 12C69.4183 12 73 15.5817 73 20C73 15.5817 76.5817 12 81 12C76.5817 12 73 8.41828 73 4Z" fill="#201D25"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C8 8.41828 4.41828 12 0 12C4.41828 12 8 15.5817 8 20C8 15.5817 11.5817 12 16 12C11.5817 12 8 8.41828 8 4Z" fill="#201D25"/>
  </svg>
  <h3 class="mt-12 mb-8">Hai bisogno di aiuto?</h3>
  <a href="#" class="contact-experts uppercase small-label font-bold">Contatta gli esperti</a>
</div>

{%- set nextTool = tools | next(tool) -%}
{%- set previousTool = tools | previous(tool) -%}

{% if nextTool %}
<div class="text-center py-5 pb-48">
  <h5 class="text-uppercase" style="font-size: 1rem">
    Prossimo workshop
  </h5>
  <div class="line-v"></div>
  <a href="/tools{{nextTool.url}}" class="">
    <lottie-player src="/animations/workshop-loop-{{nextTool.normalized}}.json" class="mt-16 mb-10 tool-title" background="transparent"  speed="1" loop autoplay></lottie-player>
  </a>
  <div class="line-v"></div>
  <h5 class="text-uppercase" style="font-size: 1rem">
    Scroll to discover
  </h5>
  <div class="nextpage-trigger py-3" data-url="/tools{{nextTool.url}}"></div>
</div>
{% endif %}
