.hero {
  font-size: 7rem;

  font-family: Bon Vivant;
  font-style: normal;
  font-weight: light;
  line-height: 100%;
  
  text-transform: uppercase;
  color: #201D25;
  max-width: 850px;
}
.hero .letter {
  /* display: inline-block; */
  line-height: 1em;
}
@media all and (max-width: 50em) {
  .hero {
    font-size: 3rem;
  }   
}