.hero {
  font-size: 6rem;

  font-family: Bon Vivant;
  font-style: normal;
  font-weight: light;
  line-height: 105%;
  
  text-transform: uppercase;
  color: #201D25;
}

@media all and (max-width: 50em) {
  .hero {
    font-size: 3rem;
  }   
}