* {box-sizing: border-box;}

body {font-size: 20px;}
@media all and (max-width: 40em) {
  body {font-size: 16px;}
}
h1, h2, h3, h4, h5, h6 {font-family: Bon Vivant;}

.font-bon-vivant {font-family: Bon Vivant;}
.text-black {color: #201D25;}
.text-black:hover {
  color: #201D25;
  text-decoration: none;
}

.line {
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-right: 1em;
  background-color: #201D25;
  vertical-align: super;
}

.filter-container {
  border-bottom: 1px solid #201D25;
}

.arrow {
  display: inline-block;
  border-top: 2px solid #201D25;
  box-sizing: border-box;
  transform: rotate(-45deg);
  height: 0.7em;
  width: 0.7em;
  border-left: 2px solid #201D25;
}

img {
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}
.small {
  font-size: 0.8em;
}