* {box-sizing: border-box;}

body {font-size: 20px;}
@media all and (max-width: 40em) {
  body {font-size: 16px;}
}

body, .bg {
  background-image: url(/images/bg.svg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {font-family: Bon Vivant;}

.font-bon-vivant {font-family: Bon Vivant;}
.text-black {color: #201D25;}
.text-black:hover {
  color: #201D25;
  text-decoration: none;
}

.line {
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-right: 1em;
  background-color: #201D25;
  vertical-align: super;
}
.line-v {
  display: inline-block;
  height: 1px;
  width: 40px;
  margin-right: 1em;
  background-color: #201D25;
  vertical-align: super;
  transform: rotateZ(90deg);
}



.arrow {
  display: inline-block;
  border-top: 2px solid #201D25;
  box-sizing: border-box;
  transform: rotate(-45deg);
  height: 0.7em;
  width: 0.7em;
  border-left: 2px solid #201D25;
}

img {
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}
.small {
  font-size: 0.8em;
}
.card {
  background: none;
}
.text-black {
  color: black;
}



.link {
  position: relative; 
}

.link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  transition: .3s width linear;
}
.link:hover:after {
  width: 100%;
}

.link-container:hover .link:after {
  width: 100%;
}


.loading-overlay > * {
  display: none;
}
.overlay {
  display: none;
}
.loading-overlay > .overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.overlay .logo {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
}
.overlay .loading-progress {
  position: absolute;
  top: calc(58% - 1em);
  left: calc(50% - 3em);
  animation: progress 1s ease;
  background-color: black;
  height: 2px;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

.logo-wrapper {
  position: absolute;
  top: 2em;
  right: 2em;
}
.logo-container {
  position: relative;
}
.logo-text {
  position: absolute;
  width: 3em;
  height: 3em;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
}
.logo-rotate {
  animation: rotate 20s linear infinite; 
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}


.word {
  transition: all .3s ease;
  display: inline-block;
  animation-delay: 100ms;
}

.word:nth-child(2n) {
  animation-delay: 200ms;
}
.word:nth-child(3n) {
  animation-delay: 300ms;
}
.word:nth-child(4n) {
  animation-delay: 400ms;
}
.word:nth-child(5n) {
  animation-delay: 500ms;
}
.word:nth-child(6n) {
  animation-delay: 600ms;
}
.word:nth-child(7n) {
  animation-delay: 700ms;
}
.word:nth-child(8n) {
  animation-delay: 800ms;
}
.word:nth-child(9n) {
  animation-delay: 900ms;
}