.tool-image {
  margin-top: 1em;
  margin-bottom: 5em;
}

.ovh {
  overflow: hidden;
}
.half {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-top: 3em;
  padding: 1em;
}
.property-name {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.filled-circle, .empty-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.25em;
}
.filled-circle {
  background: url(/images/rating.svg);
  background-size: cover;
}
.empty-circle {
  border: 2px solid black;
}

.divider {
  background: black;
  height: 1px;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}

.mb-small {
  margin-bottom: 0.5em;
}

.tac {
  text-align: center;
}

.help-container {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 8em;
  background-image: url('/images/background-2.png');
  background-size: cover;
}

.contact-experts {
  position: relative;
  display: inline-block;
  border: 2px solid #333;
  padding: 1em 2em;
  margin-top: 2em;
  font-size: 0.8em;
  min-width: 300px;
  max-width: 80%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-experts:hover{
  /* background-color: black; */
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-experts:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
}
.contact-experts:hover:after,
.contact-experts:active:after {
  width: 100%;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: 75%;
  --move-final: -100%;
  height: 10em;
  line-height: 10em;
}

.marquee div {
  height: 10em;
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 10s linear infinite;
  /* animation-play-state: paused; */
}

.marquee span {
  font-size: 10em;
  padding: 0 2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
.marquee:hover .marquee div {
  animation-play-state: running;
}
*/

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

.tool-tag {
  letter-spacing: 0.2rem;
  font-size: 13px;
}