<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="robots" content="index,follow,max-video-preview:-1,max-snippet:-1,max-image-preview:large, max-video-preview:-1, max-video-preview:-1">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    {%- set style -%}
      {%- include "css/build.css" -%}
      {%- include "css/main.css" -%}
      {%- include "css/landing.css" -%}
      {%- include "css/tool.css" -%}
      {%- include "css/type-scale.css" -%}
    {%- endset -%}
    <style>{{ style | cssmin | safe }}</style>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" class="loading-overlay">
    <div class="overlay">
      <img class="logo h-14" src="/images/black-logo.svg">
      <div class="loading-progress"></div>
    </div>
    <div id="main" class="flex lg:flex-row flex-col h-screen w-full">
      <!-- menu vertical ("desktop") -->
      <div class="hidden lg:block h-screen p-2 relative border-black border-r">
        <div class="w-20">
          <div class="font-bon-vivant transform rotate-vertical w-64 absolute top-0 left-0">
          {% if page.url != '/' %}
            <a href="/">Lean Validation Playbook</a>
          {% else %}
            Lean Validation Playbook
          {% endif %}
          </div>

          <div class="toggle-menu bg-black bg-opacity-90 text-white h-24 w-full text-center absolute lottie-animation-hover bottom-0 left-0 right-0">
            <lottie-player src="/animations/menu.json" class="inline-block mx-auto mt-6 h-12 w-12" background="transparent"  speed="1" loop></lottie-player>
          </div>
        </div>
      </div>
      <!-- menu horizontal ("mobile") -->
      <div class="block lg:hidden w-full border-black border-b">
        <div class="flex flex-wrap">
          <div class="flex-1 flex items-center">
            <div class="font-bon-vivant pl-6 lg:pl-12">
              <a href="/">
                <img src="/images/black-logo.svg" class="h-8" alt="Lean Validation Playbook" />
              </a>
            </div>
          </div>

          <div class="toggle-menu w-20 bg-black bg-opacity-90 text-white h-20 text-center lottie-animation-hover">
            <lottie-player src="/animations/menu.json" class="inline-block mx-auto mt-4 h-12 w-12" background="transparent"  speed="1" loop></lottie-player>
          </div>
        </div>
      </div>
      <main class="h-screen w-full overflow-x-auto overflow-y-scroll">
        <div class="relative ">
          {% if  page.url.startsWith('/tool') %}
          <header class="mx-auto container lg:px-12 px-6 pt-16 pb-2 max-w-5xl">
            <a href="/" class="text-dark uppercase small-label lottie-animation-hover">
            <lottie-player src="/animations/arrow-back.json" class="inline-block w-6 mr-2 align-top" background="transparent"  speed="1" loop></lottie-player>
            Tutti i workshop
            </a>
          </header>
          {% endif %}
          
          {% if page.url.startsWith('/tool') or page.url == '/' %}
          <div class="logo-wrapper hidden lg:block">
            <lottie-player src="/animations/logo-scroll.json" class="" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          {% endif %}

          <main id="content" class="mx-auto {%if page.url == '/' %} container {% endif %} ">
            {{ content | safe }}
          </main>
        </div>

        {% if not page.url.startsWith('/tool') %}
        <footer class="mx-auto text-pink">
          <lottie-player src="/animations/svs-scritta-loop.json" class="my-32" background="transparent"  speed="1" loop autoplay></lottie-player>

          <div class="pt-24 lg:px-12 text-lg bg-black bg-opacity-90">
            <div class="lg:flex lg:flex-row pb-32 w-full lg:w-9/12 mx-auto">
              <div class="p-6">
                <img src="/images/white-logo.svg" class="h-12" />
              </div>
              <div class="lg:flex-1 p-6 lg:px-24">
                <p class="small-label uppercase text-gray-400">
                Il progetto
                </p>
                <p>
                  The Lean Validation Playbook è una raccolta di metodi per testare idee e soluzioni legate alla creazione di prodotti digitali e affronta il lato operativo che manca a molte strategie di business.
                </p>
              </div>
              <div class="p-6">
                <p class="small-label uppercase text-gray-400">
                Indice
                </p>
                <p>
                  <a href="/" class="small-label uppercase block mb-4">Homepage</a>
                  <a href="/about" class="small-label uppercase block mb-4">About</a>
                  <a href="/metodo" class="small-label uppercase block mb-4">Lean Value Tree</a>
                </p>
              </div>
            </div>
            <hr>
            <div class="py-16 text-sm ">
              <div class="lg:flex">
                <div class="text-xs px-4">
                &copy; 2021 Fightbean S.R.L. a socio unico - All rights reserved. Sede legale: C.so Duca degli Abruzzi 43, 10129 Torino. P.Iva 11149320019
                </div>
                <div class="uppercase text-sm px-4 lg:mt-0 mt-4">
                  Privacy | Cookie policy
                </div>
              </div>
            </div>
          </div>
        </footer>
        {% endif %}
      </main>
    </div>

    <!-- menu view-->
    <div id="menu" class="hidden w-full h-full">
      <div class="bg w-full">
        <div class="flex-1 flex items-center">
          <div class="hidden lg:block flex-1 pl-12 font-bon-vivant">
            Lean Validation Playbook
          </div>
          <div class="block lg:hidden flex-1 pl-6 font-bon-vivant">
            <img src="/images/black-logo.svg" class="h-8" alt="Lean Validation Playbook" />
          </div>
          <div class="toggle-menu w-20 h-20 lg:w-24 lg:h-24 py-7 lg:py-8 text-center" id="close-menu">
            <img src="/images/icon_menu_close.svg" alt="Menu" class="mx-auto h-6" />
          </div>
        </div>
        <hr class="border-black border-t">
        <div class="container mx-auto">
          <div class="xl:flex flex-row p-6 lg:p-16">
            <div class="flex-1 lg:px-12">
              <a href="/" class="my-8 lg:my-16 lg:h-32 block">
                <lottie-player src="/animations/menu-home.json" background="transparent"  speed="1" autoplay></lottie-player>
              </a>
              <a href="/about" class="my-8 lg:my-16 lg:h-32 block">
                <lottie-player src="/animations/menu-about.json" background="transparent"  speed="1" autoplay></lottie-player>
              </a>
              <a href="/metodo" class="my-8 lg:my-16 lg:h-32 block">
                <lottie-player src="/animations/menu-metodo.json" background="transparent"  speed="1" autoplay></lottie-player>
              </a>              
            </div>
            <div class="xl:flex items-end lg:w-96">
              <div class="py-12 lg:px-12">
                <p class="small-label uppercase">
                Il progetto
                </p>
                The Lean Value Playbook è una raccolta di metodi per testare idee e soluzioni legate alla creazione di prodotti digitali e affrontare il lato operativo che manca a molte strategie di business.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cursor">
      <div class="cursor__ball cursor__ball--big ">
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
        </svg>
      </div>
      
      <div class="cursor__ball cursor__ball--small">
        <svg height="10" width="10">
          <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
        </svg>
      </div>
    </div>


    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  
    <script type="text/javascript">
      var host = 'leanvaluetree.it'
      if (window.location.host == host && window.location.protocol != 'https:') {
        window.location.protocol = 'https:'
      }


      setTimeout(() => {
        document.body.classList.remove('loading-overlay')
        document.querySelector('.overlay').remove()

        if (window.location.hash === '#contacts') {
          const el = document.getElementById('contacts')
          if (el && el.scrollIntoView) {
            el.scrollIntoView()
          }
        }
      }, 1000)

      const toggles = [...document.querySelectorAll('.toggle-menu')]

      const closeMenu = document.getElementById('close-menu')

      toggles.forEach(el => {
        el.addEventListener('click', () => {
          if (document.querySelector('#menu').classList.contains('hidden')) {
            document.querySelector('#menu').classList.remove('hidden')
            document.querySelector('#menu').classList.add('block')
            document.querySelector('#main').classList.add('hidden')
          }        
        })
      })

      closeMenu.addEventListener('click', () => {
        document.querySelector('#menu').classList.add('hidden')
        document.querySelector('#menu').classList.remove('block')
        document.querySelector('#main').classList.remove('hidden')
      })

      const lottieMouseoverElements = [...document.querySelectorAll('.lottie-animation-hover')]
      lottieMouseoverElements.forEach((el) => {
        el.addEventListener('mouseover', function (event){
          if (typeof event.target.play === 'function') {
            event.target.play()
          } else {
            const player = event.target.querySelector('lottie-player')
            if (player) player.play()
          }
        })
        el.addEventListener('mouseout', function (event){
          if (typeof event.target.stop === 'function') {
            event.target.stop()
          } else {
            const player = event.target.querySelector('lottie-player')
            if (player) player.stop()
          }
        })
      })

      const $bigBall = document.querySelector('.cursor__ball--big');
      const $smallBall = document.querySelector('.cursor__ball--small');
      const $hoverables = document.querySelectorAll('a');

      // Listeners
      document.body.addEventListener('mousemove', onMouseMove);
      for (let i = 0; i < $hoverables.length; i++) {
        $hoverables[i].addEventListener('mouseenter', onMouseHover);
        $hoverables[i].addEventListener('mouseleave', onMouseHoverOut);
      }

      // Move the cursor
      function onMouseMove(e) {
        TweenMax.to($bigBall, .4, {
          x: e.pageX - 15,
          y: e.pageY - 15
        })
        TweenMax.to($smallBall, .1, {
          x: e.pageX - 5,
          y: e.pageY - 7
        })
      }

      // Hover an element
      function onMouseHover() {
        TweenMax.to($bigBall, .3, {
          scale: 4
        })
      }
      function onMouseHoverOut() {
        TweenMax.to($bigBall, .3, {
          scale: 1
        })
      }
    </script>

    {% if page.url != '/' %}
    <script type="text/javascript">

      const nextPageTrigger = document.querySelector('.nextpage-trigger')
      if (nextPageTrigger) {
        let scrolled = false
        document.querySelector('main').addEventListener('scroll', debounce(() => {
          if (isElementInViewport(nextPageTrigger) && scrolled) {
            window.location = nextPageTrigger.getAttribute('data-url')
          }
          scrolled = true
        }, 100))
      }
      function isElementInViewport (el) {
          var rect = el.getBoundingClientRect();

          return (
              rect.top >= 0 &&
              rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) + rect.height
          );
      }
      function debounce(func, wait, immediate) {
        var timeout;
        return function() {
          var context = this, args = arguments;
          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };
          var callNow = immediate && !timeout;
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
          if (callNow) func.apply(context, args);
        };
      };

    </script>
    {% endif%}
  </body>
</html>
