<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="robots" content="index,follow,max-video-preview:-1,max-snippet:-1,max-image-preview:large, max-video-preview:-1, max-video-preview:-1">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    {%- set style -%}
      {%- include "css/build.css" -%}
      {# {%- include "css/reset.css" -%} #}
      {%- include "css/type-scale.css" -%}
      {%- include "css/main.css" -%}
      {%- include "css/landing.css" -%}
      {%- include "css/tool.css" -%}
    {%- endset -%}
    <style>{{ style | cssmin | safe }}</style>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" class="loading-overlay">
    <div class="overlay">
      <img class="logo" src="/images/logo.svg">
      <div class="loading-progress"></div>
    </div>
    <div class="flex h-screen w-full">
      <div class="hidden lg:block h-screen p-2 relative border-black border-r">
        <div class="w-20">
          <div class="transform rotate-vertical w-64 absolute top-0 left-0">
          Lean Validation Playbook
          </div>

          <div id="toggle-menu" class="bg-black bg-opacity-90 text-white py-8 text-center absolute bottom-0 left-0 right-0">
            <img src="/images/icon_menu.svg" alt="Menu" class="mx-auto" />
          </div>
        </div>
      </div>
      <main class="h-screen w-full overflow-x-auto overflow-y-scroll">
        <div class="border-b bg-grey-light relative px-12">
          <div class="logo-wrapper">
            <div class="logo-container" id="logo-container">
            </div>
          </div>

          {% if  page.url != '/'%}
          <header class="mx-auto container pt-24 pb-2">
              <svg class="inline" width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="1.66667" height="38.3333" transform="matrix(4.37114e-08 1 1 -4.37114e-08 1.66699 9.16602)" fill="#201D25"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16634 0C9.16634 5.06261 5.06228 9.16667 -0.000326157 9.16667V10.8333C5.98276 10.8333 10.833 5.98309 10.833 0H9.16634Z" fill="#201D25"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16634 20C9.16634 14.9374 5.06228 10.8333 -0.000326157 10.8333V9.16667C5.98276 9.16667 10.833 14.0169 10.833 20H9.16634Z" fill="#201D25"/>
              </svg>
              &nbsp;&nbsp;
              <a href="/" class="text-dark">Tutti i workshop</a>
          </header>
          {% endif %}

          <main id="content" class="mx-auto pt-5 {%if page.url == '/' %}  container  {% endif %} ">
            {{ content | safe }}
          </main>
        </div>

        {% if page.url == '/' %}
        <footer class="mx-auto">
          <div id="svs-loop" class="my-40"></div>

          <div class="pt-24 lg:px-12 text-lg bg-black bg-opacity-90 text-white ">
            <div class="lg:flex lg:flex-row pb-32 w-full lg:w-9/12 mx-auto">
              <div class="p-6">
                <img src="/images/white-logo.svg" class="h-12" />
              </div>
              <div class="lg:flex-1 p-6 lg:px-24">
                <p class="uppercase text-gray-400">
                Il progetto
                </p>
                <p>
                  The Lean Validation Playbook è una raccolta di metodi per testare idee e soluzioni legate alla creazione di prodotti digitali e affronta il lato operativo che manca a molte strategie di business.
                </p>
              </div>
              <div class="p-6">
                <p class="uppercase text-gray-400">
                Indice
                </p>
                <p><a href="/" class="uppercase">Homepage</a></p>
                <p><a href="/about" class="uppercase">About</a></p>
                <p><a href="/" class="uppercase">Lean Value Tree</a></p>
              </div>
            </div>
            <hr>
            <div class="py-16 text-sm ">
              <div class="flex">
                <div class="text-xs px-4">
                &copy; 2021 Fightbean S.R.L. a socio unico - All rights reserved. Sede legale: C.so Duca degli Abruzzi 43, 10129 Torino. P.Iva 11149320019
                </div>
                <div class="uppercase text-sm px-4">
                  Privacy | Cookie policy
                </div>
              </div>
            </div>
          </div>
        </footer>
        {% endif %}
      </main>
    </div>

    <div class="hidden w-full h-full fixed top-0 bottom-0 bg-white overflow-y-scroll" id="menu">
      <div class="w-full h-full bg p-16">
        <div class="container mx-auto">
          <h5 class="mt-0 mb-12">Lean Validation Playbook</h5>
          <hr class="border border-black">
          <div class="flex flex-row">
            <div class="flex-1">
              <h1 class="uppercase mt-10 mb-0"><a href="/">Home</a></h1>
              <h1 class="uppercase mt-10 mb-0"><a href="/about">About</a></h1>
              <h1 class="uppercase mt-10 mb-0"><a href="/">Metodo</a></h1>
            </div>
            <div class="flex items-end w-96">
              <p class="px-12 h-48">
                The Lean Value Playbook è una raccolta di metodi per testare idee e soluzioni legate alla creazione di prodotti digitali e affrontare il lato operativo che manca a molte strategie di business.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script type="text/javascript">
      setTimeout(() => {
        document.body.classList.remove('loading-overlay')
        document.querySelector('.overlay').remove()
      }, 1000)

      document.querySelector('#toggle-menu').addEventListener('click', () => {
        console.log('toggle menu')
        if (document.querySelector('#menu').classList.contains('hidden')) {
          document.querySelector('#menu').classList.remove('hidden')
          document.querySelector('#menu').classList.add('block')
          document.querySelector('body').classList.add('overflow-hidden')
        }        
      })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie_light_html.min.js" integrity="sha512-YDmvCqWiji8aPW4jK1hSytdWri58Ar4EPWSSD+wwWK8OKy99dUUYgbWhaU/heui162mdVrdWhqm9yLbzOkzEOA==" crossorigin="anonymous"></script>

    <script type="text/javascript">
      bodymovin.loadAnimation({
        container: document.getElementById('logo-container'),
        path: '/animations/logo-scroll.json',
        renderer: 'svg',
        loop: true,
        autoplay: true,
        name: 'hero',
        onComplete: console.log
      });

      {#
      bodymovin.loadAnimation({
        container: document.querySelector('main'),
        path: '/animations/background.json',
        renderer: 'html',
        loop: true,
        autoplay: true,
        name: 'hero',
        onComplete: console.log
      });
      #}
    </script>

    {% if page.url == '/' %}
    <script type="text/javascript">

    bodymovin.loadAnimation({
      container: document.getElementById('hero'),
      path: '/animations/hero.json',
      renderer: 'svg',
      loop: true,
      autoplay: true,
      name: 'hero',
      onComplete: console.log
    });

    bodymovin.loadAnimation({
      container: document.getElementById('svs-loop'),
      path: '/animations/svs-scritta-loop.json',
      renderer: 'svg',
      loop: true,
      autoplay: true,
      name: 'hero',
      onComplete: console.log
    });

    {%- for tool in tools -%}
    bodymovin.loadAnimation({
      container: document.getElementById('{{tool.normalized}}'),
      path: '/animations/a-b-test.json',
      // path: '/animations/{{tool.normalized}}.json',
      renderer: 'svg',
      loop: true,
      autoplay: true,
      name: '{{tool.normalized}}',
      onComplete: console.log
    });
    {% endfor %}
    </script>
    {% endif %}

    {% if page.url != '/' %}
    <script type="text/javascript">

      const nextPageTrigger = document.querySelector('.nextpage-trigger')
      if (nextPageTrigger) {
        let scrolled = false
        document.querySelector('main').addEventListener('scroll', debounce(() => {
          if (isElementInViewport(nextPageTrigger) && scrolled) {
            window.location = nextPageTrigger.getAttribute('data-url')
          }
          scrolled = true
        }, 100))
      }
      function isElementInViewport (el) {
          var rect = el.getBoundingClientRect();

          return (
              rect.top >= 0 &&
              rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) + rect.height
          );
      }
      function debounce(func, wait, immediate) {
        var timeout;
        return function() {
          var context = this, args = arguments;
          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };
          var callNow = immediate && !timeout;
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
          if (callNow) func.apply(context, args);
        };
      };

    </script>
    {% endif%}
  </body>
</html>